[Unit]
Description=Remote desktop service (VNC)
After=network.target

[Service]
#Type=forking
ExecStart=/usr/bin/vncserver %i
#PIDFile=/run/vncsession-%i.pid

[Install]
WantedBy=default.target
